.blog {
    text-align: justify;
}

.blog .titlePost {
    font-size: 22px
}

.blog ul {
    list-style-type: none !important;
    margin-left: 5px !important;
}

.blog{
    margin-top: -15px;
}

.blog .datePost {
    margin-bottom: 10px;
    font-size: 15px;
    color: #808080;
}

li.liBlog {
    border-top: 1.5px solid #808080;
    padding-top: 15px;
    padding-bottom: 5px;
}

.seccMas {
    text-align: right;
}

span.previous{
    display: none !important;
}

span.next{
    display: none !important;
}

.page_number{
    color: black;
    font-weight: 550 !important;
}

.pagination{
    color:  #d5000d;
    text-align: center;
}

.previous_active{
    padding-right: 10px;
}

.next_active{
    padding-left: 10px;
}
