.cv-page .p{
    text-align: justify;
    line-height: 1.3;
    font-size: 15px !important;
}

.cv-section{
    font-weight: bold;
    color: #d5000d;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .cv-sectionedu{
    font-weight: bold;
    color: #d5000d;
    font-size: 15px;
    margin-bottom: 15px;
  }

.down{
    font-size: 13px;
}

.cv-experience-title{
    font-weight: bold;   
    padding-bottom: 15px; 
}

.cv-period{
    font-size: 14px;
    color: #aaa;
}

ul.list {
    list-style-type: disc !important;
    margin-left: 30px !important;
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
}

.cv-subsection{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.cv-nivel{
    font-size: 14px;
    color: rgb(155, 153, 153);
}

.skill{
    margin-bottom: 2px;
    font-size: 15px;
}

.cv-instituto{
    font-size: 15px;
    font-weight: bold;
}