.post-page .p{
    text-align: justify;
    line-height: 1.3;
}

p{
    text-align: justify;
    line-height: 1.3;
}

.imgPost{
    text-align: center;
}

.linkGithub{
    font-size: 22px;
    font-weight: bolder;
}

ul.list {
    list-style-type: disc !important;
    margin-left: 30px !important;
    text-align: justify;
    line-height: 1.5;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
.post-page .terminal {
  background: #111;
}
.hidden {
  opacity:0;
}
.post-page .console-container {
 
  font-family:Khula;
  font-size:1.2em;
  text-align:left;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  display:block;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

b.bold{
  font-weight: bold;
  color: #d5000d;
  font-size: 16px;
}


